tempfile.txt
mahb.txt
.DS_Store
*.zip
*.gz
log/*.log
log/*.log[0-9]
log/*/*.log
assets/photoshop/
assets/videos/

#This line makes sure that the following files are not ignored
!assets/videos/tour_*.mp4